body, html {
    height: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

.navbar-default {
    background-image: none;
    background-color: rgb(50, 50, 50);
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #eee;
}
.navbar-default .navbar-nav>li>a:focus {
    color: #58afd1;
}

/*
* Landing page ------------------------------------------------------------------------
*/
.icon {
    animation: App-logo-spin infinite 20s linear;
    height: 100px;
}

.icon:hover {
    height: 102px;
    transition: transform .25s ease;
}

.container {
    width: 100%;
}

.stars {
    display: flex;
    align-items: center;
    height: 90vh;
    width: 100%;
    z-index: 0;
    background: #000 url("https://image.ibb.co/mjnygo/stars.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.stars h2 {
    font-weight: bold;
    color: #58afd1;
}
.stars h3 {
    color: white;

}

.col-sm-4 {
    padding-top: 15px;
}

.tech {
    text-align: center;
    background-size: cover;
}

.tech p {
    font-size: 16px;
}

.tech.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 25px;
}

.mountain-paralax {
    background-image: url('/img/star-sky.png');
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mountain-paralax p {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6em;
    color: white;
    font-weight: bold;
}

.for-you {
    margin: 25px 0px;
    text-align: center;
    word-wrap: break-word;
}
.for-you h2 {
    font-weight: bold;
}

.vector-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.vector-container img {
    max-width: 100%;
}

.item {
  color: white;
  font-size: 2em;
}

.mountain-base {
    background-image: url('/img/mountain-base.png');
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mountain-base .email {
    color: white;
}

.contact-me {
    padding-top: 25px;
    text-align: center;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6em;
    color: white;
    font-weight: bold;
}
.contact-me button {
    width: 50%;
    margin: auto;
}

.more-info {
    text-align: center;
    margin-top: 25px;
}

.more-info button {
    margin: 5px;
}


/*
* projects page ------------------------------------------------------------------------
*/

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    padding-left: 0px;
    margin: 0 auto;
    justify-content: center;
}


.project-entry {
    height: 300px;
    width: 350px;
    padding: 10px;
    text-align: center;
    list-style-type: none;
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    background-color: #eee;
    opacity: 0;
    transition: all 0.5s ease;

}

.project-entry:hover .overlay {
    opacity: .8;
}

.overlay p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.overlay-bottom {
    height: 0%;
    width: 100%;
    left: 0;
    bottom: 0;
}

.project-entry:hover .overlay-bottom {
    height: 100%;
}

.project-entry img {
    height: 100%;
    width: 100%;
    display: block;
}

/*
* contact page -----------------------------------------------------------------------
/*

* about ------------------------------------------------------------------------
*/

.about {
    margin:0 auto;
    max-width: 1200px;
}

.resume {
    background-color: grey;
    height: 100px;
    width: 100px;

}


.profile-img {
    height: 200px;
    width: 200px;
}

.certificates img{
    height: 350px;
    width: 500px;
    max-width: 100%;
}

/*
* footer ------------------------------------------------------------------------
*/

footer {
    margin-top: 75px;
    padding-top: 50px;
}

.footer {
    text-align: center;
}

.footer p {
    color: black;
}

/* aditional styles for buttons and other fancy stuff*/
.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.08333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #ffe593;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.btnMain {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}



#return {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return:hover i {
    color: #fff;
    top: 5px;
}
