body, html {
    height: 100%;
}

.navbar-default {
    background-image: none;
    background-color: rgb(50, 50, 50);
}

/*
* Landing page ------------------------------------------------------------------------
*/
.icon {
    animation: App-logo-spin infinite 20s linear;
    height: 100px;
}

.icon:hover {
    height: 102px;
    transition: transform .25s ease;
}

.container {
    width: 100%;
}

.stars {
    display: flex;
    align-items: center;
    height: 90vh;
    width: 100%;
    z-index: 0;
    background: #000 url("https://image.ibb.co/mjnygo/stars.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stars h3 {
    color: white;
}

.col-sm-4 {
    padding-top: 15px;
}

.tech {
    text-align: center;
    background-size: cover;
}

.tech p {
    font-size: 16px;
}

.tech.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 25px;
}

.mountain-paralax {
    background-image: url('/img/star-sky.jpg');
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.for-you {
    margin: 25px 0px;
    text-align: center;
    word-wrap: break-word;
}

.vector-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.vector-container img {
    max-width: 100%;
}

.item {
  color: white;
  font-size: 2em;
}

.mountain-base {
    background-image: url('/img/mountain-base.png');
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.contact-me {
    padding-top: 25px;
}

.more-info {
    text-align: center;
    margin-top: 25px;
}

.more-info button {
    margin: 5px;
}


/*
* projects page ------------------------------------------------------------------------
*/

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    padding-left: 0px;
    margin: 0 auto;
    justify-content: center;
}


.project-entry {
    height: 300px;
    width: 350px;
    padding: 10px;
    text-align: center;
    list-style-type: none;
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    background-color: #eee;
    opacity: 0;
    transition: all 0.5s ease;

}

.project-entry:hover .overlay {
    opacity: .8;
}

.overlay p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.overlay-bottom {
    height: 0%;
    width: 100%;
    left: 0;
    bottom: 0;
}

.project-entry:hover .overlay-bottom {
    height: 100%;
}

.project-entry img {
    height: 100%;
    width: 100%;
    display: block;
}

/*
* contact page ------------------------------------------------------------------------
*/

.contact-me {
    width: 60vw;
    text-align: center;
    margin: 0 auto;
}

.contact-text {
    text-align: center;
}

.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 textarea,
.form-style-8 select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

/*
* about ------------------------------------------------------------------------
*/

.about {
    margin:0 auto;
    max-width: 1200px;
}

.resume {
    background-color: grey;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px
}


.profile-img {
    height: 200px;
    width: 200px;
}


/*
* footer ------------------------------------------------------------------------
*/

footer {
    margin-top: 75px;
    padding-top: 50px;
}

.footer {
    text-align: center;
}

.footer p {
    color: black;
}
